
# from https://github.com/anthr76/infra
---
fail_fast: false
repos:
  # - repo: https://github.com/adrienverge/yamllint
  #   rev: v1.26.3
  #   hooks:
  #     - args:
  #         - --config-file
  #         - .yamllint.yaml
  #       id: yamllint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
  - repo: local
    hooks:
      - id: stylish-haskell
        name: stylish-haskell
        entry: stylish-haskell -i
        language: system
        files: \.l?hs$
  - repo: https://github.com/yuvipanda/pre-commit-hook-ensure-sops
    rev: v1.1
    hooks:
      - id: sops-encryption
        # Uncomment to exclude all markdown files from encryption
        # exclude: *.\.md
  - repo: local
    hooks:
      - id: sops-updatekeys
        name: sops-updatekeys
        language: system
        entry: pre-commit-sops-updatekeys
        files: '^.*(secrets|\.sops)\.ya?ml$'
  - repo: local
    hooks:
      - id: nix-fmt
        name: nix-fmt
        language: system
        entry: alejandra
        files: '\.nix$'
